<% include partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>
				Welcome to YelpCamp!
			</h1>
			<p>
				View our hand picked campgrounds from all over the world.
			</p>
			<p>
				<a type="button" class="btn btn-light" href="/campgrounds" role="button">View All Campgrounds</a>
				<a type="button" class="btn btn-light" href="/campgrounds/new" role="button">Add Campground to Directory</a>
			</p>
			<p>

			</p>
	
		</div>
	</header>
</div>


<% include partials/footer %>