<!-- include the header file -->
<% include ../partials/header %>
<link rel="stylesheet" href="style.css">

<div class="container">
    <header class="jumbotron">
          <h1>Welcome to YelpCamp</h1>
          <p>There you can see hand-picked camp-images from the entire world.</p>
          <p>
            <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new campground</a>
          </p>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap : wrap">
       <% campgrounds.forEach(function(campground){ %>
            <div class="col-sm-6 col-md-3" >
                <div class="img-thumbnail">
                   <img src = " <%= campground.image %>" class="image">
                   <div class="caption">
                        <h4><%= campground.name %></h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-large">More Info</a>
                   </p>
                </div>
            </div>
        <% }) %>
    </div>
    
</div>
    <!-- include the footer file -->
<%  include ../partials/footer %>